# create docker-compose nginx for hosting hw.html

version: '3.8'

services:
  support-bot-py:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "127.0.0.1:8082:8000"
    env_file:
      - ../stack.env
