# create docker-compose nginx for hosting hw.html

version: '3.8'

services:
  nginx:
    image: ghcr.io/martins0n/homelab-services/hello:latest
    restart: always
    ports:
      - "127.0.0.1:8080:80"
