# create docker-compose nginx for hosting hw.html

version: '3.8'

services:
  support-bot:
    image: ghcr.io/martins0n/homelab-services/support-bot:latest
    restart: unless-stopped
    ports:
      - "127.0.0.1:8081:3000"
    env_file:
      - ../stack.env
