name: Build and push docker image from trunk

on:
  push:
    branches:
      - main

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        dockerfile:
          - {"name": "hello", "path": "hello/Dockerfile"}
          - {"name": "support-bot", "path": "support-bot/Dockerfile"}
          - {"name": "support-bot-py", "path": "support-bot-py/Dockerfile"}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Check and Build Docker Image
        run: |
          CHANGED_FILES=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} -- ${{ matrix.dockerfile.path }}/..)
          if [ ! -z "$CHANGED_FILES" ]; then
            echo "Changes detected in ${{ matrix.dockerfile.path }}, building the image..."
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            IMAGE_ID=ghcr.io/${{ github.repository }}/${{ matrix.dockerfile.name }}
            docker buildx build \
              --platform linux/amd64,linux/arm64 \
              --tag $IMAGE_ID:latest \
              --tag $IMAGE_ID:${{ github.sha }} \
              --push \
              $(dirname ${{ matrix.dockerfile.path }})
          else
            echo "No changes detected in ${{ matrix.dockerfile.path }}, skipping build."
          fi
